body {
    margin: 0;
    padding: 0;
}

.topbar {
    border-bottom: 1px solid #ececec;
}

.topbar__wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.topbar__items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.topbar__item {
    cursor: pointer;
}

.products {
    width: 100%;
}

.products__title {
    width: 90%;
    margin: 5% auto;
}

.products__wrapper {
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    border: 1px solid #ececec;
    border-radius: 5px;
}

.product__img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.product__content {
    padding: 5px 10px;
}

.product__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dla urządzeń o dł. ekranu max. 500px (np. telefon) */
@media only screen and (max-width: 500px) {

    .product {
        width: 100%;
    }
}

/* Dla urządzeń o dł. ekranu min. 500px (np. komputer) */
@media only screen and (min-width: 500px) {

    .product {
        width: 31%;
    }
}